$font: 'Arial';
$fontFamily: $font, Arial, sans-serif;

// @include font-face($font, 'fonts/', 'font-file-name', $weight, $style);

p,
a{
	font: 14px/22px $fontFamily;
}

a {
	text-decoration: underline;
	&:hover{
	}
	&:visited{
	}
}

strong {
	font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $fontFamily;
	font-weight: bold;
}