// GLOBAL VARIABLES


// Colors
$primary-color: #XXXXXX;

$accent-color-100: #XXXXXX;

$gradient-color-100: #XXXXXX;
$gradient-color-900: #XXXXXX;

$error-color: #FF0000;

$white: #FFF;
$black: #000;

// Animations
$easing: cubic-bezier(.4,0,.2,1);
