/**
 * Typesetting for example.com
 * Author: Name Surname
 * Date: DD Month YYYY
 *
 * Modular Scale - http://modularscale.com/scale/?px1=16&px2= [***] &ra1=1.618&ra2=0
 * 16px @ 1:1.618 [16 = base font-size]
 * [***]px @ 1:1.618 [*** = optional important width]
 *
 * http://alistapart.com/articles/more-meaningful-typography/
 * http://typecast.com/blog/a-more-modern-scale-for-web-typography
 */


// Font size and leading.
$base-fz: 100%; // 16px
$base-lh: 1.5; // 24px

// Typography Colors.
$black: #000 !default;

$text-color: lighten($black, (100% - 87%));
$text-secondary-color: lighten($black, (100% - 54%));
$text-hint-color: lighten($black, (100% - 26%));
$divider-color: lighten($black, (100% - 12%));


// Font families.
$base-font: 'Base Font Name';
$base-ff: $base-font, Helvetica, Arial, sans-serif;

$heading-font: 'Heading Font Name';
$heading-ff: $heading-font, Helvetica, Arial, sans-serif;


@mixin base-font-style {
	font: #{$base-fz}/#{$base-lh} $base-ff;
	color: $text-color;
}


a {
	text-decoration: underline;
	&:hover {
	}
	&:visited {
	}
}

strong {
	font-weight: bold;
}

%headings {
	font-family: $heading-ff;
	color: $text-secondary-color;
}

h1 {
	@extend %headings;
	// font-size: XXrem
}

h2 {
	@extend %headings;
	// font-size: XXrem
}

h3 {
	@extend %headings;
	// font-size: XXrem
}

h4 {
	@extend %headings;
	// font-size: XXrem
}

h5 {
	@extend %headings;
	// font-size: XXrem
}

h6 {
	@extend %headings;
	// font-size: XXrem
}

hr {
	height: 1px;
	border: 0;
	background: $divider-color;
}
